{% extends 'backend/indexe.html.twig' %}
{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des matières</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID matière</th>
                    <th>Nom de matière</th>
                    <th>Coefficient</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>


       {% include 'ModuleBundle:matiere:_matier_content.html.twig' %}




            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </section>
    <!-- /.content -->
    </div>


    <ul>
        <li>
            <a href="{{ path('matiere_new') }}">Create a new matiere</a>
        </li>
    </ul>
{% endblock %}
