{% extends 'backend/indexb.html.twig' %}

{% block content %}
<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
    <h1>Livre creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class ="btn btn-default pull-right" value="Create" />
    {{ form_end(form) }}

    <a type="button" class="btn btn-default pull-right" href="{{ path('livre_index') }}">Back to the list</a>
        </thead>
    </table>
</div>
{% endblock %}
